<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body style="display:flex;flex-direction:column;height:100vh;">
    {{>navbar}}
    <h1>this is about page</h1>
    {{>footer}}
</body>
</html>